* {
  background-color: #ff6767;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(255, 99, 99);
  
}
img {
  width: 300px;
  padding: 1px;
  margin: 0 auto;
  float: center;
 box-sizing: border-box;
  border: 1px solid black;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

td {
  border: 1px solid grey;
  width: 100px;
  text-align: center;
}
th {
  background-color: red;
}
form {

 
}
input {
  /* display: block; */
  border: 1px solid grey;

  padding: 10px;
  
  
}


 
td,
th {
    text-align: center;
    width: 100px;
    border: 1px solid grey;
}

th {
    background-color:rgb(255, 255, 255);
}

form {
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"] {

display: block;
margin-left: 0px;
background-color: white;
    
}

input[type="submit"] {
    margin-top: 10px;
    width: 100px;
    height: 30px;
}
.container {
  border: 1px solid black;
  box-shadow: 3px 5px #b3b2b2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 50%;
  padding: 50px;
  background-color: rgb(255, 233, 233);
  margin: 0 auto;
  margin-top: 20px;

}
.container-fluid{
  height: 100%;
  padding: 10px;
}
.bubble {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 10px solid black;
  margin-bottom: 20px;
  padding: 20px, 20px, 20px, 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 1px 3px #814a4a;
  background-color: rgb(245, 255, 255);
  display: grid;

}
.bubble:hover {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 10px solid rgb(0, 0, 0);
  margin-bottom: 20px;
  padding: 20px, 20px, 20px, 20px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 3px 6px #9dff00;
  background-color: rgb(255, 237, 234);
  display: grid;

}
button.left {
 float: left;
 border: 3px solid rgb(0, 0, 0);
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 padding: 5px;
 width: 20%;
}
button.right {

 border: 3px solid green;
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
 padding: 5px;
 width: 20%;
 margin-right: 200px;
}
.banner {
width: 100%;
background-color: rgb(255, 255, 255);
border: 3px solid rgb(0, 0, 0);
color: white;
}

.banner li {
  display: inline;
}
.Link {
  display: inline;
}
.footer {
  margin-bottom: 100px;
  color: green;
  position: absolute;
  bottom: 0px;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: underline;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
.logo2{
  float: center;
  font-size: 24px;
  margin-right :10px;
  background-color: black;
  color: white;
}

.list-group-item{

color:black;

}
button {
  background-color: aliceblue;
  border: 3px solid black;
}